{% load static %}
<!doctype html>
<html lang="ja">

<head>
  <title>RElight - 販売者アカウント</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{% static 'relight/css/main.css' %}">
</head>

<body>
  <header>

    <div class="humberger">

      <button class="hum trans"><img src="{% static 'relight/img/hamburger.png' %}"></button>

    </div>
    <div class="flex">
      <ul class="header">
        <li><a href="/">HOME</a></li>
        <li class="Rmenu"><a href="{% url 'relight:login' %}">ログイン</a></li>
        <li class="Rmenu"><a href="{% url 'relight:create_account' %}">新規会員登録</a></li>
      </ul>
      <ul class="logoH">
        <li><a href="{% url 'relight:about' %}">About RE light</a></li>
      </ul>
    </div>
  </header>

  <div id="slideL" class="off">
    <nav>
      <div class="humberger cancel">

        <button class="hum trans"><img src="{% static 'relight/img/hamburger.png' %}"></button>
  
      </div>
      <br>
      <ul>
        <li><a href="{% url 'relight:top' %}">TOP</a></li>
        <li><a href="{% url 'relight:shop_index' %}">SHOP</a></li>
        <li><a href="{% url 'relight:event_index' %}">EVENT</a></li>
        <li><a href="{% url 'relight:login' %}">LOGIN</a></li>
        <li><a href="{% url 'relight:logout' %}">SIGN UP</a></li>
      </ul>

    </nav>
  </div>

  <a href="/">
    <img class="logoO" src="{% static 'relight/img/logo_main.png' %}">
  </a><br>

  <h1>販売ユーザー登録</h1>
  <form id="new_user" enctype="multipart/form-data" accept-charset="UTF-8" method="POST">
        <div class="square">
          {% csrf_token %}
      <div class="form-group">
        <label>メールアドレス</label>
        {{ form_user.email }}
      </div>
      <div class="form-group">
        <label>利用者ID</label>
        {{ form_user.userid }}
      </div>
      <div class="form-group">
        <label>パスワード</label>
        <em>{{ form_user.password_error_message }}</em>
        <br />
        {{ form_user.password1 }}
    </div>
    <div class="password_valid">
      パスワードは半角英数字の8文字以上、記号・スペースは使えません。
    </div>
    <div class="form-group">
        <label>確認用パスワード</label>
        {{ form_user.password2 }}
    </div>
      <div class="form-group">
        <label>名前</label>
        {{ form_shop.name }}
      </div>
      <div class="form-group">
        <label>ご希望の料金プラン(登録後も変更可能)</label>
        {{ form_shop.plan }}
      </div>
      <div class="form-group">
        <label>アイコン</label>
        {{ form_shop.icons }}
      </div>
      <div class="form-group">
        <label>ヘッダー</label>
        {{ form_shop.headers }}
      </div>
      <div class="form-group">
        <label>自己紹介(任意)</label>
        {{ form_shop.self_introduction }}
      </div>
      <div class="form-group">
        <label>御社のオンラインショッピングサイトのURL</label>
        {{ form_shop.online_address }}
      </div>
    </div>
    <a target="_blank" href="{% url 'relight:privacy' %}">こちらの利用規約をご確認ください</a>
    <button class="white trans submit" type="submit" value="create">規約に同意して登録</button>
    <button href="{% url 'relight:top' %}" class="white trans submit" type="button" value="disagree">戻る</button>
  </form>
  <div class="form-user-error">
    {% if form_user.errors %}
    {% for field in form_user %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form_user.non_field_errors %}
    <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}
  </div>
  <div class="form-shop-error">
    {% if form_shop.errors %}
    {% for field in form_shop %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form_shop.non_field_errors %}
    <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}
  </div>
  <a href="/">トップに戻る</a>
  <footer>
    <br>
    <a href="{% url 'relight:privacy' %}">プライバシーポリシー</a>
    <p>©RElight, 2020</p>
  </footer>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="{% static 'relight/js/query.js' %}"></script>
  
</body>

</html>