{% load static %}
<!doctype html>
<html lang="ja">
  <head>
    <title>RElight</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'relight/css/main.css' %}"> 
  </head>
    <body>
      <header>

        <div class="humberger">

          <div></div>
          <div></div>
          <div></div>
    
        </div>
<div class="flex">
  <ul class="header">
    <li><a href="/">HOME</a></li>
    <li class="Rmenu"><a href="{% url 'profile' %}">マイページ</a></li>
    <li class="Rmenu"><a href="{% url 'login' %}">ログイン</a></li>
  </ul>
  <ul class="logoH">
    <li><a href="{% url 'about' %}">About RE light</a></li>
</ul></div>
      </header>

      <div id="slideL" class="off">
        <nav>
          <div class="humberger cancel">

            <div></div>
            <div></div>
            <div></div>
      
          </div>
          <br>
          <ul>
            <li><a href="{% url 'top' %}">TOP</a></li>
            <li><a href="{% url 'shop_index' %}">SHOP</a></li>
            <li><a href="{% url 'event_index' %}">EVENT</a></li>
            <li><a href="{% url 'login' %}">LOGIN</a></li>
            <li><a href="{% url 'logout' %}">SIGN UP</a></li>
          </ul>
  
        </nav>
        </div>

      <a href="/">
      <img class="logoO" src="{% static 'relight/img/logo_main.png' %}">
      </a><br>

      <h1>アカウントを作成</h1>
      <a href="{% url 'create_customer' %}"><button class="top white trans" type="button">利用者アカウント</button></a>
      <a href="{% url 'create_shop' %}"><button class="top white trans" type="button">販売者アカウント</button></a>
    <br><br><br>
    <a href="/">トップに戻る</a>
    <footer>
      <br>
      <a href="{% url 'privacy' %}">プライバシーポリシー</a>
      <p>©RElight, 2020</p>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'relight/js/query.js' %}"></script>
    
    </body>
</html>