<!doctype html>
<html lang="ja">
  <head>
    <title>RElight</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
      <h1>プロフィールを作成</h1>
      <form id="new_user" enctype="multipart/form-data" accept-charset="UTF-8" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label>御社のオンラインサイトのURL</label>
        {{ form.online_address }}
      </div>
      <div class="form-group">
        <label>名前</label>
        {{ form.name }}
      </div>
    <div class="form-group">
      <label>アイコン</label>
      {{ form.icons }}
    </div>
    <div class="form-group">
      <label>ヘッダー</label>
      {{ form.headers }}
    </div>
    <div class="form-group">
      <label>自己紹介(任意)</label>
      {{ form.self_introduction }}
    </div>
    <button type="submit" value="create">登録</button>
    </form>
    <div class="form-error">
      {% if form.errors %} 
      {% for field in form %} 
       {% for error in field.errors %} 
        <div class="alert alert-danger"> 
         <strong>{{ error|escape }}</strong> 
        </div> 
       {% endfor %} 
      {% endfor %} 
      {% for error in form.non_field_errors %} 
       <div class="alert alert-danger"> 
        <strong>{{ error|escape }}</strong> 
       </div> 
      {% endfor %} 
  {% endif %} 
    </div>
    <a href="/">トップに戻る</a>
    </body>
</html>