{% load static %}
<!DOCTYPE html>
<html>
<head lang="ja">
    <title>RElight - 顧客側ビデオ通話</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'relight/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'relight/css/video.css' %}">
</head>
<body>
    <header>

        <div class="humberger">
    
          <button class="hum trans"><img src="{% static 'relight/img/hamburger.png' %}"></button>
    
        </div>
        <div class="flex">
          <ul class="header">
            <li><a href="/">HOME</a></li>
            <li class="Rmenu"><a href="{% url 'relight:login' %}">ログイン</a></li>
            <li class="Rmenu"><a href="{% url 'relight:create_account' %}">新規会員登録</a></li>
          </ul>
          <ul class="logoH">
            <li><a href="{% url 'relight:about' %}">About RE light</a></li>
          </ul>
        </div>
      </header>
    
      <div id="slideL" class="off">
        <nav>
          <div class="humberger cancel">
    
            <button class="hum trans"><img src="{% static 'relight/img/hamburger.png' %}"></button>
      
          </div>
          <br>
          <ul>
            <li><a href="{% url 'relight:top' %}">TOP</a></li>
            <li><a href="{% url 'relight:shop_index' %}">SHOP</a></li>
            <li><a href="{% url 'relight:event_index' %}">EVENT</a></li>
            <li><a href="{% url 'relight:login' %}">LOGIN</a></li>
            <li><a href="{% url 'relight:logout' %}">SIGN UP</a></li>
          </ul>
    
        </nav>
      </div>
    
<div class="video-body">
    <h1 class="title" id="event_name">{{event.title}}</h1>

    <!-- Video area -->
    <div class="video" id="video-container">
        <video id="their-video"></video>
        <video id="my-video"></video>               
    </div>
    <div class="toggle-mute">
        <button class="video-button"id=" js-toggle-camera">カメラOFF</button>
        <span id="camera-status"></span>
        <br>
      
        <button class="video-button" id="js-toggle-microphone">マイクOFF</button>
        <span id="microphone-status"></span>
        <br>
    </div>
    <!-- Steps -->
    <div class="video-info">
        <div hidden id="my-id">{{profile.name}}{{event.title}}</div>
        <div hidden id="callto-id">{{auth_user.name}}{{event.title}}</div>
        <a target="_blank" href="{{ auth_user.online_address }}"><button type="button">このお店のショッピングサイトへ</button></a>           
        <button href="#" id="make-call" class="video-button" type="button">通話開始</button>
        <button href="#" id="end-call" class="video-button" type="button">通話終了</button>
        <form hidden action="{% url 'relight:cus_video' event.title %}" name="form1"></form>
    </div>
    <div class="form-group">
    <br/>
    <div id="pinned_messages">ピン止めアイテム<br></div>
    <div id="your_messages">自分のメッセージ<br>
        <textarea rows="10" id="chat-message-input" cols="60"></textarea><br/>
        <input id="chat-message-submit" type="button" value="Send"/>   
    </div>
    <div id="other_messages">お店からのメッセージ<br></div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
<script type="text/javascript" src="{% static 'relight/js/cus_video.js' %}"></script>
</body>
</html>