{% load static %}
<!DOCTYPE html>
<html>
<head lang="ja">
    <title>RElight - Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<div class="video-body">
    <h1 id="event_name">{{event.title}}</h1>

    <!-- Video area -->
    <p>{{ user.name }}</p>
    <div class="video" id="video-container">
        <video id="their-video"></video>
        <video id="my-video"></video>
    </div>
    <div class="toggle-mute">
        <button id="js-toggle-camera">Toggle Camera</button>
        <span id="camera-status"></span>
        <br>
      
        <button id="js-toggle-microphone">Toggle Microphone</button>
        <span id="microphone-status"></span>
        <br>
    </div>

    <!-- Steps -->
    <div class="video-info">
        <h2>SkyWay Video Chat</h2>

        <div hidden id="my-id">{{profile.name}}{{event.title}}</div>
        <p>Share this id with others so they can call you.</p>
        <h3>Make a call</h3>
        <div hidden id="callto-id">{{auth_user.name}}{{event.title}}</div>
        <a target="_blank" href="{{ auth_user.online_address }}"><button type="button">このお店のショッピングサイトへ</button></a>           
        <button href="#" id="make-call" class="pure-button pure-button-success" type="button">Call</button>
        <button href="#" id="end-call" type="button">End Call</button>
        <form hidden id="end-call" action="{% url 'relight:cus_video' event.title %}" name="form1"></form>
    </div>
    <h3>Chat</h3>
    <div class="form-group">
    <br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
    <div id="cus_messages"></div>
    <div id="shop_messages"></div>
</div>
</div>
<script>
    var csrftoken = '{{ csrf_token }}';
</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
<script type="text/javascript" src="{% static 'relight/js/cus_video.js' %}"></script>
</html>