<!doctype html>
<html lang="ja">
  <head>
    <title>RElight</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    </head>
    <body>
        <div class="personal">
          <h1>Title : {{ event.title }}</h1>
          <h1>Detail : {{ event.detail }}</h1>
          <h1>Auth Name : {{ auth_user.name }}</h1>
          <div class="icon">
            Icon :
          <img src="/media/{{ event.image }}" width="200">
          </div>
          {% ifequal user.s_or_c "shop" %}
          <button type="button"><a href="{% url 'shop_video' event.title %}">ビデオ通話ページへ</a></button>
          {% endifequal %}
          {% ifequal user.s_or_c "customer" %}
          <button type="button"><a href="{% url 'cus_video' event.title %}">ビデオ通話ページへ</a></button>
          {% endifequal %}
          <div class="user_profile">
            <p>{{ user.name }}</p>
            <img src="/media/{{ user.icons }}" width="200">
            <p><a href="{% url 'profile' %}" class="user_prof">あなたのプロフィールページへ</a></p>
            <button type="button"><a href="{% url 'index' %}">イベント一覧ページへ</a></button>
          </div>
          </div>
    </body>
</html>