{% load static %}
<!doctype html>
<html lang="ja">

<head>
  <title>RElight</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{% static 'relight/css/main.css' %}">
</head>

<body>
  <header>
    <div class="humberger">
      <button class="hum trans"><img src="{% static 'relight/img/hamburger.png' %}"></button>
    </div>
    <div class="flex">
      <ul class="header">
        <li><a href="{% url 'relight:profile' %}">マイページ</a></li>
        <li class="Rmenu"><a href="{% url 'relight:create_account' %}">新規会員登録</a></li>
      </ul>
      <ul class="logoH">
        <li><a href="{% url 'relight:about' %}">About RE light</a></li>
      </ul>
    </div>
  </header>

  <div id="slideL" class="off">
    <nav>
      <div class="humberger cancel">

        <button class="hum trans"><img src="{% static 'relight/img/hamburger.png' %}"></button>
  
      </div>
      <br>
      <ul>
        <li><a href="{% url 'relight:top' %}">TOP</a></li>
        <li><a href="{% url 'relight:shop_index' %}">SHOP</a></li>
        <li><a href="{% url 'relight:event_index' %}">EVENT</a></li>
        <li><a href="{% url 'relight:login' %}">LOGIN</a></li>
        <li><a href="{% url 'relight:logout' %}">SIGN UP</a></li>
      </ul>

    </nav>
  </div>

  <div class="headI">
    <img src="{{ profile.headers.url }}" width="200">
  </div>
<br>
  <div class="personal">
    <div class="flex">
      <span class="icon">
        <img src="{{ event.image.url }}" width="200">
      </span>
      <span class="prof">
        <h1> {{ event.title }}</h1>
        <h3> {{ event.detail }}</h3>
        <p>Auth Name : {{ auth_user.name }}</p>
      </span>
    </div><br>



    <div class="flex">
      <div class="user_profile minProf">
        <span>
          <img src="{{ profile.icons.url }}" width="200">
          <p>{{ profile.name }}</p>
        </span>
        <span>
          <p><a href="{% url 'relight:profile' %}" class="user_prof">あなたのプロフィール</a></p>
          <p><a href="{% url 'relight:event_index' %}">イベント一覧</a></p>
        </span>
      </div>
      <span>
        {% ifequal user.id event.user.id %}
        <button class="call yellow trans submit" type="button"><a
            href="{% url 'relight:shop_video' event.title %}">ビデオ通話</a></button>
        {% else %}
        <button class="call yellow trans submit" type="button"><a
            href="{% url 'relight:cus_video' event.title %}">ビデオ通話</a></button>
        {% endifequal %}
      </span>
    </div>
  </div>
  <footer>
    <br>
    <a href="{% url 'relight:privacy' %}">プライバシーポリシー</a>
    <p>©RElight, 2020</p>
  </footer>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="{% static 'relight/js/query.js' %}"></script>
  
</body>

</html>