<!doctype html>
<html lang="ja">
  <head>
    <title>RElight - Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
      <h1 class="title">ログイン</h1>
      <form action="" method="POST">
        {{ form.non_field_errors }}
        {% for field in form %}
            {{ field }}
            {{ field.errors }}
            <hr>
        {% endfor %}
        <div class="form-group">
            <button type="submit" class="loginBtn">
                ログインする
            </button>
            <input type="hidden" name="next" value="{{ next }}" />
            {% csrf_token %}
        </div>
    </form>
    </body>
</html>