{% load static %}
<!doctype html>
<html lang="ja">
  <head>
    <title>RElight - Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'relight/css/main.css' %}">
    </head>
    <body>
      <header>

        <button class="humberger">
          <div></div>
          <div></div>
          <div></div>
       </button>
<div class="inline">
  <ul>
  <li><a href="{% url 'create_account' %}">新規会員登録</a></li>
  </ul>
  <ul class="logoH">
    <li><a href="{% url 'about' %}">About RE light</a></li>
</ul></div>
      </header>

      <div class="hidden_show">
        <nav>
          <ul>
            <li><a href="{% url 'top' %}">TOP</a></li>
            <li><a href="{% url 'shop_index' %}">SHOP</a></li>
            <li><a href="{% url 'event_index' %}">EVENT</a></li>
            <li><a href="{% url 'login' %}">LOGIN</a></li>
            <li><a href="{% url 'logout' %}">SIGN UP</a></li>
          </ul>
  
        </nav>
        </div>
        <a href="/">
          <img class="logoO" src="{% static 'relight/img/logo_main.png' %}">
          </a>

      <h1 class="title">ログイン</h1>
      {% if form.errors  %}
    <p>ユーザーID, パスワードが一致しません．</p>
    {% endif %}
    <form enctype="multipart/form-data" accept-charset="UTF-8" method="POST">
      <div>
      {% csrf_token %}
      <label>ユーザーID　</label>
      {{ form.userid }}
      {{ form.userid.errors }}
      <br><br>
      <label>パスワード　</label>
      {{ form.password }}
      {{ form.password.errors }}
      <br></div>
      <button class="white trans submit" type = "submit">ログイン</button>
      </form>
      <div class="form-error">
        {% if form.errors %} 
        {% for field in form %} 
         {% for error in field.errors %} 
          <div class="alert alert-danger"> 
           <strong>{{ error|escape }}</strong> 
          </div> 
         {% endfor %} 
        {% endfor %} 
        {% for error in form.non_field_errors %} 
         <div class="alert alert-danger"> 
          <strong>{{ error|escape }}</strong> 
         </div> 
        {% endfor %} 
        {% endif %} 
        </div> 
        
        <footer>
          <br>
          <a href="/">トップに戻る</a>    <br>
          <a href="{% url 'privacy' %}">プライバシーポリシー</a>
          <p>©RElight, 2020</p>
        </footer>
    </body>
</html>