<!doctype html>
<html lang="ja">
  <head>
    <title>RElight</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <div class="user_profile">
          <h1>プロフィール</h1>
          <p>{{ profile.name }}</p>
          <img src="{{ profile.icons.url }}" width="200">
          <p><a href="{% url 'profile' %}" class="user_prof">あなたのプロフィールページへ</a></p>
        </div>
        <h1>ショップ一覧</h1>
        {% for shop in shops %}
        <div class="shop_name">
          <p><a href="{% url 'shop_profile' shop.name %}" class="title">{{shop.name}}</a></p>
        </div>  
        {% endfor %}   
        <button type="button"><a href="{% url 'logout' %}">ログアウトする</a></button>     
    </body>
</html>