<!doctype html>
<html lang="ja">
  <head>
    <title>RElight</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    </head>
    <body>
    <h1>Shop Profile</h1>
      <div class="personal">
        <h1>Name :{{ shop_profile.name }}</h1>
        <h1>Email : {{ shop.email }}</h1>
        <div class="icon">
          Icon :
        <img src="/media/{{ shop_profile.icons }}" width="200">
        </div>
        <div class="header">
          header :
        <img src="/media/{{ shop_profile.headers }}" width="200"> 
        </div>
        <h1>Self_introduction : {{ shop_profile.self_introduction }}</h1>
        <button type="button"><a href="{% url 'event_index' %}">イベント一覧ページへ</a></button>
        <h1>{{ shop_profile.name }}さんが作成したイベント一覧</h1>          
          {% for event in events %}
          <div class="event_title">
            <p><a href="{% url 'detail' event.title %}" class="title">{{event.title}}</a></p>
          </div>
          {% endfor %}  
      <button type="button"><a href="{% url 'logout' %}">ログアウトする</a></button> 
      </div>
    </body>
</html>