<!doctype html>
<html lang="ja">
  <head>
    <title>RElight</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <h1>RE lightへようこそ！！</h1>
        <button type="button"><a href="{% url 'shop_login' %}">企業側のログインページへ</a></button>
        <button type="button"><a href="{% url 'shop_login' %}">顧客側のログインページへ</a></button>
        <button type="button"><a href="{% url 'create_aka_before' %}">アカウント作成へ</a></button>
    </body>
</html>