body{
    text-align: center;
    margin:0;
}

.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
}

header{
    background: linear-gradient(to right, #FFF55F, #E8FD95);
    font-size: x-large;
    text-align:right;
    padding: 10px;
    padding-right:3%;
    
}
header a{
    text-decoration:none;
}
header li{
    list-style: none;
    display:inline-block;
    padding:0 10px;
}

button{
    border-radius: 20%;
    border: solid #FFF55F 5px;
    font-size: x-large;
    padding: 20px;
    width:250px;
    margin:0 15px;
}
button a{
    text-decoration:none;
}
button:hover{
    transform: translate3d(0, 5px, 0);
}

a{
    color:black;
}
a:hover{
    color: orange;
}
.yellow{
    background: linear-gradient(to right, #FFF55F, #E8FD95);
}
.white{
    background-color: white;
}

.logoM{
    width:30%;
}



