body{
    text-align: center;
    margin:0;
}

.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
}

header{
    background: linear-gradient(to right, #FFF55F, #E8FD95);;
    font-size: x-large;
    text-align:right;
    padding: 30px;
    padding-right:3%;
}

button{
    background-color: none;
    border-radius: 10%;
    border-style: none;
    font-size: x-large;
    padding: 10px;
}
button a{
    color:black;
}

button a:hover{
    color: orange;
}

.logoM{
    width:30%;
    
}

