/* all */
body{
    z-index: 10;
    text-align: center;
    margin:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title{
    font-size: xx-large;
    padding-top: 100px;
    margin-top:-5px;
}


.flex{
    display:flex;
}
/* all */

/* header */
header{
    background: linear-gradient(to right, #FFF55F, #E8FD95);
    font-size: x-large;
    padding: 10px;
    width:100vw;
    margin:0;
    position: fixed;
    z-index:90;
}
header a{
    text-decoration:none;
}
header ul{
    text-align: left;
    margin: 10px;
    margin-left:80px;
    list-style: none;
}
.header li{
    display:inline-block;
    padding:0 10px;
}
.Rmenu{
    border-left:solid 1px;
    padding-left: 20px;
}/* mypage */
.logoH{
    text-align:right;
    margin-left:auto;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 30px;
}/* header logo */
.humberger{
    height: 24px;
    width: 24px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    float: left;
}
.humberger div{
    position: absolute;
    margin-left:15%;
    height: 4px;
    width: 50px;
    background-color: rgb(160, 160, 160);
    border-radius: 2px;
    display: inline-block;
    box-sizing: border-box;
  }
  .humberger div:nth-of-type(1) {
    top: 15px;
  }
  .humberger div:nth-of-type(2) {
    top: 25px;
  }
  .humberger div:nth-of-type(3) {
    top: 35px;
  }
  .humberger:hover{
    cursor : pointer;
}
.cancel{
    margin:15px 18px;
}
/* header */

/* footer */
footer{
    background: linear-gradient(to right, rgba(255, 244, 95, 0.6), rgba(232, 253, 149, 0.6));
    margin-bottom:-15px;
    margin-top:50px;
    padding-bottom:5px;
}
.noColor{
    background: none;
}
/* footer */

/* button */
button{
    background: none;
    border:none;
    border-radius: 30px;
}
button a{
    text-decoration:none;
}

a{
    color:black;
}
a:hover{
    color: orange;
}

.trans:hover{
    transform: translate3d(0, 5px, 0);
}
.yellow{
    background: linear-gradient(to right, #FFF55F, #E8FD95);
    border: none;
    padding:15px;
}
.white{
    background-color: white;
    border: solid #FFF55F 5px;
    padding:15px;
}
.submit{
    margin:15px;
    font-size:20px;
    width:15%;
}
.top{
    font-size: x-large;
    padding: 20px;
    width:260px;
    margin:0 15px;
}
/* button */

/* logoING */
.logoM{
    width:30%;
    margin-top:70px;
}
.logoO{
    width:20%;
    margin-top:70px;
}
/* logoING */

/* nav */
nav{
    z-index:100;
    text-align:left;
    margin-top:-100px;
    height:100vw;
    width:15%;
    padding: 100px 0;
    font-size: x-large;
    background-color: rgb(251, 253, 199);
    position: fixed;
}
nav ul{
    list-style: none;
}
nav a{
    text-decoration:none;
    
}
nav li{
    padding:20px 0;
}

.off{
    display:none;
}
.slideL {
    z-index:100;
    cursor: pointer;
    top: 0;
  }
/* nav */

/* form  */
.square{
    border:solid 1px;
    margin: 0 30%;
    padding:30px;
    font-size: x-large;
    border-radius: 30px;
    list-style: none;
}
.form-groupe{
    display: flex;
}
/* form */

/* img */
.headI img{
    margin:80px 0;
    width:100%;
    height:250px;
    object-fit: cover;
    opacity:0.5;
}
.icon img{
    border-radius: 50%; 
    width:20vw;
}
/* img */

/* profile */
.personal{
    margin-left: 10vw;
    text-align: center;
    margin:0 20%;
}
.prof{
    margin-left:40px;
    border:solid 1px;
    padding:30px;
    font-size: x-large;
    border-radius: 30px;
    width:50%;
    text-align: left;
}
.minProf{
    width:40%;
}
.user_profile img{
    border-radius: 50%; 
    width:10vw;
}
.personal button{
    width:250px;
}

/* profile */

/* call */
.call{
    width:500px;
    height:100px;
    font-size: xx-large;
    margin:80px 0;
}
/* call */

/* event */
.eventI{
    width:60%;
    margin:0 30vw;
}
.idx{
    text-align: left;
    list-style: none;
    font-size: larger;
}
.event{
    margin-left:150px;
}